/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Serif', serif;
    color: white;
    text-transform: uppercase;
}

h1, h2, h3 {
    color: #ffffff;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #000000;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

header a:hover {
    color: #0e469b;
    transform: scale(1.08);
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    text-transform: uppercase;
}

.active {
    border-bottom: 3px solid #0e469b;
}

span {
    color: #0e469b;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    background-color: #000000;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Hero section */
#cover-text-img {
    background-color: #0e469bb3;
    font-size: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-height: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 26px;
}

#hero {
    height: 750px; 
    width: 100%;
    background: url("../images/personal3.webp") no-repeat center center/cover;
    background-color: black;
    position: relative;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    background-color: #0e469b;
}

/* Benefits section */
.personal-text {
    width: 90%;
    margin: 20px auto;
}

.personal-text h2 {
    margin: 20px;
    text-align: center;
    font-size: 150%;
}

#customized-program > div,
#technical-correction > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #4e4e4e;
    margin: 5px 0;
}

.border {
    margin: 15px auto;
    text-align: center;
}

/* Footer */

footer {
    margin-top: auto;
}

#footer-content {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    background-color: #000000;
    width: 100%;
    height: 50px;
}

.zanao-foot {
    height: 50px;
    width: 100%;
    padding: 0;
    text-align: center;
    left: 0px;
    align-self: flex-start;
    margin: 0 auto;
}

.social-media {
    height: 50px;
    width: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    text-decoration: none;

}

.social-media i {
    font-size: 25px;
    margin: 15px;
    margin-bottom: 0;
    color: #0e469b;
}

/* Hero section about me*/

#hero-about {
    height: 750px;
    width: 100%;
    background: url("../images/background-about.png") no-repeat center center;
    position: relative;
}

/* Cover text about section */
#cover-text {
    position: absolute;
    top: 50%; 
    left: 0%; 
    transform: translateY(-50%);
    width: 60%;
    min-height: 200px;
}

#cover-text > h2 {
    font-size: 30px;
    padding: 20px;
}

#cover-text > p {
    padding: 20px;
}

#zanao-img img {
    padding: 0;
    display: flex;
    width: 45%;
    height: auto;
    padding-top: 20px;
    margin: auto;
}

.personal-text p {
    line-height: 1.6;
    text-align: center;
}

main {
    background-color: #000000;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Form section */

#signup {
    background-image: url("../images/darkgym.png");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0% 10%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.311);
    padding: 30px;   
}

form input, form textarea {
    width: 100%;
    background-color: #c0c0c071;
    border: 0;
    outline: 0;
    padding: 10px 10px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form #sender {
    margin-top: 20px;
    text-align: center;
}

form #sender input {
    width: 120px;
    background-color: #0e469b;
    font-weight: 700;
    cursor: pointer;
}

form input::placeholder {
    color: #ffffff;
}

form textarea::placeholder{
    color: #ffffff;
}

form h2 {
    text-align: center;
}

/* Submit section */
#submit-section {
    background-image: url("../images/submit.webp");
    background-size: cover;
    background-position: 80%;
    padding: 20px 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh; 
}

#submit-page {
    text-align: center;
    font-size: 25px;
    margin: 80px auto;
    margin-top: 150px;
}

#submit-p {
    text-align: center;
    font-size: 25px;
}

#submit-button:hover {
    box-shadow: 0px 0px 10px #0e469b;
}

#submit-button {
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #0e469b;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    text-decoration: none;
}

/* Media query: tablets and larger (860px and up) */
@media screen and (min-width: 860px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 40px;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 38px;
        flex: 1 0 auto;
    }

    /* Benefits section */

    #customized-program, 
    #technical-correction {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #customized-program > div,
    #technical-correction > div {
        width: 75%;
    }

    #technical-correction {
        align-self: flex-end;
    }

    /* about section */

    #cover-text {
        position: absolute;
        top: 70%; 
        left: 20%; 
        transform: translateY(-50%);
        width: 60%;
        min-height: 200px;
    }
    
    #cover-text > h2 {
        font-size: 30px;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    
    #cover-text > p {
        align-items: center;
        text-align: center;
    }

    #zanao-img img {
        display: flex;
        width: 30%;
    }

    .personal-text p {
        text-align: justify;
        line-height: 1.6;
    }

    /* hero section */
    #cover-text-img {
        background-color: #0e469bb3;
        text-align: center;
        font-size: 130%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        min-height: 26px;
        padding-top: 26px;
        padding-bottom: 26px;
        padding-left: 26px;
    }
}

@media screen and (min-width: 1200px) {
    /* Benefits section */

    .text-h2 {
        text-align: center;
        font-size: 25px;
        margin: 20px;
    }

    #benefits {
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        padding: 40px 2%;
    }

    #technical-correction, #customized-program {
        justify-content: space-around;
        align-items: center;
    }

    #benefits i {
        color: #0e469b;
        font-size: 40px
    }

    .border {
        padding: 60px;
        margin-bottom: 20px;
        border-radius: 20px;
        transition: 0.7s;
    }

    .border:hover {
        transform: scale(1.05);
        box-shadow: 0 0 8px #0e469b;
    }

    #benefits p {
        letter-spacing: 1px;
        text-align: left;
        padding: 10px;
    }
    
    #benefits h3 {
        font-size: 25px;
        margin: 15px 0;
        justify-content: flex-start;
    }

    /* About me section */
    #cover-text {
        position: absolute;
        top: 90%; 
        left: 20%; 
        transform: translateY(-50%);
        width: 60%;
        min-height: 200px;
    }
    
    #cover-text > h2 {
        font-size: 30px;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    
    #cover-text > p {
        align-items: center;
        text-align: center;
        font-size: 25px;
    }

    #zanao-img img {
        display: flex;
        width: 30%;
    }

    .personal-text p {
        text-align: justify;
        line-height: 1.6;
    }
}